#logon {
  position: absolute;
  top: 30%;
  left: 40%;
  background: rgba(29, 36, 57, 0.8);
  background-clip: border-box;
  padding: 50px;
  border-radius: 100px;
  transition: padding 0.5s;
}
#logon:hover {
  transition: all 0.51s ease-in-out;
  border-radius: 0px;
  padding: 100px;
  left: 37%;
  background: rgba(29, 36, 57, 255);
}

.inputs {
  display: block;
}
#ease-in {
  width: 20px;
  transition: width 0.4s ease-in-out;
}
#ease-in:hover {
  width: 100%;
}
