#logon {
  position: absolute;
  top: 30%;
  left: 40%;
  background: rgba(29, 36, 57, 0.8);
  background-clip: border-box;
  padding: 50px;
  border-radius: 100px;
  transition: padding 0.5s;
}
#logon:hover {
  transition: all 0.51s ease-in-out;
  border-radius: 0px;
  padding: 100px;
  left: 37%;
  background: rgba(29, 36, 57, 255);
}

.inputs {
  display: block;
  background-color: rgba(84, 109, 179, 255);
  border-radius: 15%;
  height: 40px;
}
#ease-in {
  width: 20px;
  transition: width 0.4s ease-in-out;
}
#ease-in:hover {
  width: 100%;
}
#ease-in:focus {
  width: 100%;
}

.buttons {
  background-color: rgba(69, 89, 146, 255);
  width: 150px;
}
.login-button {
  background-color: rgba(84, 109, 179, 255);
  width: 300px;
  margin-top: 15px;
  height: 35px;
  border-radius: 15%;
  border: 0;
}
.login-button:hover {
  background-color: rgba(69, 89, 146, 255);
}
